@use '../utilities/variables' as *;
@use '../base/typography' as *;

#error-msg, #response-msg {
    color: $dark-red;
    font-family: $family-primary;
    font-weight: bold;
    padding-bottom: 40px;
  
    @media screen and (min-device-width: 1200px) and (max-device-width: 2560px) and (-webkit-min-device-pixel-ratio: 1) {
      font-size: 20px;
      line-height: 32px;
    }
  
    /* Tablet Portrait */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
      font-size: 14px;
      line-height: 18px;
    }
  
    /* Tablet Landscape */
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
      font-size: 14px;
      line-height: 18px;
    }
  
    /*mobile*/
    @media (max-width: 767px) {
      font-size: 20px;
      line-height: 30px;
      padding-left: 10vw;
      padding-right: 10vw;
    }
}

#response-msg {
    color: white;
    margin-top: 40px;
}