@use '../utilities/' as *;
@use '../base/' as *;

.banner {
    background: url('../../assets/images/arena_back.jpg') no-repeat center / cover;
    height: 65.47vw;

    &__text, &__text-2 {
        color: $festive-red;
        font-family: 'Festive', cursive;
        font-size: 5vw;
        line-height: 1;

        @include for-tablet {
            font-size: 5.5vw;
            line-height: 1.2;
        }

    }
    
    &__text {
        margin-left: 20vw;
        padding-top: 8vw;
        width: 38.2vw;
        
        @include for-phone {
            font-size: 6.2vw;
            line-height: 1.5;
            margin-left: 15vw;
            text-align: left;
        }
    }

    &__text-2 {
        font-size: 7.5vw;
        line-height: 1.1;
        
        @include for-phone {
            font-size: 12vw;
            line-height: 1.27;
            margin-top: 40px;
            text-align: center;
        }

        @media screen and (min-width: 2000px) {
            font-size: 7vw;
        }
    }
}