@use '../utilities/' as *;
@use '../base/' as *;

.header {
    background: $golden-grad;
    border-bottom: 10px $gold-light solid;
    display: flex;
    justify-content: flex-end;
    font-family: $family-primary;
    padding: 9vw 15vw 75px;

    @include for-tablet {
        padding: 50px 15vw;
    }

    @include for-phone {
        border-bottom: 5px $gold-light solid;
        padding: 30px 15vw 10px;
    }

    &__wrapper {  
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .subhead {
        align-items: flex-end;
        border-bottom: 10px solid $light-pink;
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
        width: 100%;

        @include for-widescreen {
            flex-direction: column;
            width: 70vw;
        }

        @include for-tablet {
            border-bottom: 0px;
        }

        @include for-phone {
            border-bottom: 0px;
        }
    }

    h1, h3, span {
        color: $light-pink;
        line-height: 1.11;
    }

    h1 {
        font-size: 9vw;
        text-align: right;

        @include for-widescreen {
            width: 40vw;
        }
        
        @include for-tablet {
            width: 70vw;
        }

        @include for-phone {
            font-size: 10vw;
            width: 60vw;
        }
    }

    h3 {
        padding-left: 10px;
        padding-right: 0px;

        @include for-widescreen {
            padding-right: 15vw;
        }

        @include for-tablet {
            font-size: 5vw !important;
            width: 61vw;
        }

        @include for-phone {
            padding-right: 17vw;
            position: relative;
            top: -20px;
        }

        @media screen and (min-width: 1500px) {
            width: 35vw;
        }
    }

    h3, span {
        font-size: 4vw;

        @include for-phone {
            font-size: 8vw;
        }
    }

    span {
        font-family: 'Anton', sans-serif;

        @include for-phone {
            font-size: 6vw;
            position: relative;
            top: -24px;
        }
    }

    .brands {
        &__story, &__arena {
            position: relative;
            width: 14.6vw;

            @include for-phone {
                position: relative;
                top: -20px;
                width: 20vw;
            }
        }

        &__story {
            bottom: -9px;

            @include for-phone {
                bottom: -4px;
            }
        }

        &__arena {
            bottom: -14px;

            @include for-phone {
                position: relative;
                top: -19px;
                bottom: none;
            }
        }
    }
}